.btn-outline-primary {
    border: 1px solid #007bff;
    color: #007bff;
    background-color: transparent;
  }
  
  .btn-primary {
    border: 1px solid #007bff;
    color: white;
    background-color: #007bff;
  }
  