  
  .news-card {
  width: 300px;
  /*width: calc(100% - 20px); /* Responsive width */
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative; 
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
  border-radius: 15px;
  padding: 10px;
  transition: transform 0.3s ease;
  background-color: white;
}

.news-card:hover, .news-card.highlight{
  transform: scale(1.03);
}

.news-card img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}


/* a new popup card */
.popup-news-card {
  padding: 0px;
  position: fixed;
  z-index: 9999;
  animation: fadeIn 0.3s;
  transform: translate(-50%, 20px);  
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}