.story-container {
  background: #f8f8f8;
  border: 1px solid #d3d3d3;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
  max-width: 1000px;
  margin: 20px auto;
  position: relative; /* Needed for absolute positioning of the curl */
  overflow: hidden; /* Ensures nothing spills out of the container bounds */
}

.story-content {
  background: white;
  padding: 20px;
  line-height: 1.6;
  color: #333;
}


.story-container::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  border-width: 0 25px 25px 0;
  border-style: solid;
  border-color: white transparent;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
  width: 80px;
  height: 80px;
  transform: translate(50%, -50%) rotate(45deg);
  background: linear-gradient(-45deg, transparent 10px, #f8f8f8 10px);
}

#story-follow {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 8px 16px;
  background-color: #0056b3;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transform: rotate(-45deg); /* Adjust the angle to fit the curl */
}


.cardTitle {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

#relativeGrid .card-title {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

#relativeGrid .card-img-top {
  width: 100%;
  height: 120px;
  border-radius: 20px;
  object-fit: cover;
}

/* Story Title and Summary */
.title {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}


/* Version and Follow Section */
.versionFollow {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.version {
  font-size: 16px;
  margin-right: 10px;
  color: #888;
}

.followButton {
  padding: 8px 16px;
  background-color: #0056b3;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.followButtonHover:hover {
  background-color: #004494;
}

/* Sub-sections for News and Events */
.newsReferencesH3,
.eventFeedH3 {
  color: #0056b3;
  border-bottom: 2px solid #0056b3;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

/* Footer */
.footer {
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  color: #999;
  border-top: 1px solid #eee;
  margin-top: 40px;
}

/* Floating News Cards */
.float-left {
  float: left;
  margin-right: 10px;
}

.float-right {
  float: right;
  margin-left: 10px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;

}

.paragraph {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;

}